<header>
    <a href="./"><h1>Home</h1></a>
    <a href="./class"><h1>Classes</h1></a>
    <a href=""></a>
    {{#if user.login}}
        {{#if user.isadmin}}
        <a href="./manageclass"><h1>Manage</h1></a>
        <a href="./vieworder"><h1>Orders</h1></a>
        <a href="./logout"><h1>Logout</h1></a>
        {{else}}
        <a href=""></a>
        <a href="./class"><h1>Cart</h1></a>
        <a href="./logout"><h1>Logout</h1></a>
        {{/if}}
    {{else}}
    <a href=""></a>
    <a href=""></a>
    <a href="./login"><h1>login</h1></a>
    {{/if}}
    
</header>