<link rel="stylesheet" href="/css/index.css">

    <hero id="searchoption">
        <h1 class="indexh1">
            LET'S MOVE YOU BODY!
        </h1>
        <h2 class="indexh2">
            Welcome to 24 x 7 GYM Studio 
        </h2>
        <h2 class="indexh2">
            we provides the best teachers and equipment for people chasing body beauty like you.
        </h2>
        <button class="seeclassbtn" id="seeclassbtn" onclick="location.href = './class'">See Classes</button>
    </hero>









