<hero id="searchoption">
    <h1 class="indexh1">
    Let's move your ass off!
    </h1>
    <h2 class="indexh2">
        Welcome to 24 x 7 GYM Studio 
    </h2>
    <h2 class="indexh2">
        we provides the best teachers and equipment for people chasing body beauty like you.
    </h2>
    <button id="seeclassbtn" onclick="location.href = './class'">See Classes</button>
</hero>








