<hero id="searchoption">
    <h1 class="indexh1">
    Let's move your ass off!
    </h1>
    <h2>
        Welcome to 24 x 7 GYM Studio, we provides the best teachers and equipment for people chasing body beauty like you.
    </h2>
    <button id="seeclassbtn">See Classed</button>
</hero>








