<script src="/js/login.js" defer></script>

{{#if user.login}}
    <h1>
        Maybe you can do some modification of your account here.
    </h1>

{{else}}
<form class="loginform" id="loginform" action="/login" method="post">
<h1>LOGIN OR SIGNUP</h1>
<input class="inputs" name="loginname" type="text" placeholder="Enter your emailaddress" required>
<input class="inputs" name="loginpassword" type="password" placeholder="Enter your password" required>
<div class="loginbtndiv">
    <button id="loginbtn" class="loginbtn" type="submit">Login</button>
    <button id="signupbtn" class="signupbtn" type="button">SignUp</button>
</div>

</form>
{{/if}}