<h1 class="tiltes">Register your new account to start your road to fitness</h1>


<form class="signupform" id="signupform" action="/signup" method="post">

<input id="signupname" type="text" placeholder="Enter your emailaddress" required>
<input id="signuppassword" type="password" placeholder="Enter your password" required>
<input id="signuppasswordconfirm" type="password" placeholder="Repeat Your password" required>
<div class="regisbtndiv">
    <button id="regisbtn" class="regisbtn" onclick="submit">Register</button>
</div>

</form>