main{
    background-color: #936160;
    background-blend-mode:lighten;
    background-image: url("https://bl6pap004files.storage.live.com/y4mGHZCNgI53uWqSBISbqVwMsfYqEWs4PAx-o9c8e_PvZ09kYFH4e9lsLlk5UjtpqE0w99ErSL7KSjQWNHDPmuoYKU_OXQvXxIV2RHCvNrVY6inEKb2NLXP5PyiALb3HQXxfZ6spYiFhAu2i1iU2EMPF6rkSV-eI9jM8ee6rKbEZTYNQcd0o5hqeeRCyjiEy9fw?width=2112&height=1152&cropmode=none");
    background-repeat: no-repeat; 
}