main{
    background-color: #d2ccc8;
    background-blend-mode:darken;
    background-image: url("https://bl6pap004files.storage.live.com/y4mGHZCNgI53uWqSBISbqVwMsfYqEWs4PAx-o9c8e_PvZ09kYFH4e9lsLlk5UjtpqE0w99ErSL7KSjQWNHDPmuoYKU_OXQvXxIV2RHCvNrVY6inEKb2NLXP5PyiALb3HQXxfZ6spYiFhAu2i1iU2EMPF6rkSV-eI9jM8ee6rKbEZTYNQcd0o5hqeeRCyjiEy9fw?width=2112&height=1152&cropmode=none");
    background-repeat: no-repeat; 
}

.indexh1{
    font-size: 3em;
    padding: 3% 0px;
    background-color: #FFFFFF82;
    margin-bottom: 10px;
    font-weight: bold;
    border-top: 15px solid #382815;
}

.indexh2{
    font-size: 2.4em;
    padding: 3% 0px;
    background-color: #FFFFFF82;

}

.seeclassbtn{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.5em;
    border: 0px solid black;

}

.seeclassbtn:hover{
    background-color: aquamarine;
    border: 8px solid black;
    cursor:pointer;
}