*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
    box-sizing:border-box;
    /* width:calc([min size]px + ([max size] — [min size]) * ((100vw — [min vw width]px) / ([max vw width] — [min vw width]))) */
}

html{
    height: auto;
}

body{
    text-align: center;
    display: grid;
    background-color: #F5FFFF;
    grid-template-rows: 1fr 15fr 1fr;
    height: auto;
}

hero{
    display: grid;
    align-items: center;
    padding: 30% 0;
    text-align: center;
}

header{
    background-color: #DDFFFF;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    
}

#loginform{
    border: 10px solid #ffffff;
    margin: 15% 30%;
    padding: 30px 30px;
    text-align: center;
}

.inputs{
    display: block;
    padding: 5px 5px;
    margin: 5px 5px;
    width: calc(100% - 10px);
}

.loginbtndiv{
    padding-top:5%;
    width: calc(100% - 10px);
}

.loginbtn{
    padding: 20px 20px;
    width: 30%;
}

.signupbtn{
    padding: 20px 20px;
    width: 30%;
}

.landingh1{
    padding-top: 5%;
}


a{
    text-decoration-line:none;
    color: #58C0BC;
    /* border: 1px solid black; */
    padding: 10px 0px;
}

a:visited{
    text-decoration-line:none;
}

main{
    background-color: #F5FFFF;
    /* height: 100vh; */
    min-height: cal(100vh - 50px);
}

#searchoption{
    margin-left: 20%;
    margin-right: 20%;
}

#resultsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 15%;
}

footer{
    background-color: #B5F6B5;
    height: 50px;
    width: 100%;
    padding-top: 1%;
    /* margin-top: -15%; */
}