*{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Righteous', sans-serif;
    transition: 0.3s;
    box-sizing:border-box;
}

body{
    text-align: center;
    display: grid;
    background-color: #f9f5f0;
    grid-template-rows: 1fr 15fr 1fr;
    height: 100vh;

}

header{
    background-color: #d8c6bb;
    padding-top: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    height: 6vh;
    align-content: center;
}


a{
    text-decoration-line:none;
    color: #342a29fa;
    /* border: 1px solid black; */
    padding: 3% 20px;
    transition: 0.1s;
}

a:hover{
    color:#B5B5BE;
    transition: 0.05s;
}

a:visited{
    text-decoration-line:none;
}

.tilteh1{
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #FFF9F1;
    border: 3px solid black;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

#loginform{
    border: 10px solid #AFB9B5;
    margin: 15% 30%;
    padding: 30px 30px;
    text-align: center;
}

.inputs{
    display: block;
    padding: 5px 5px;
    margin: 5px 5px;
    width: calc(100% - 10px);
}

.loginbtndiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 10%;
    padding-top:5%;
    width: calc(100% - 10px);
}

.loginbtn{
    padding: 20px 0px;
    width: 40%;
}

.loginbtn:hover{
    cursor: pointer;
    color: white;
    background-color: #444E4A;
}

.signupbtn{
    padding: 20px 0px;
    width: 40%;
}

.signupbtn:hover{
    cursor: pointer;
    color: white;
    background-color: #444E4A;
}

.landingh1{
    padding-top: 5%;
}



main{
    /* height: 100vh; */
    min-height: cal(100vh - 50px);
}

#herobackground{
    width: 100%;
    height: 100%;
}

#searchoption{
    color: #000000;
    display: grid;
    align-items: center;
    /* margin: 5vh 20%; */
    padding: 10% 20%;
    text-align: center;
}

#resultsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 4%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 15%;
}

footer{
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    width: 100%;
    padding-top: 1%;
}

